@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Englebert');

body,
html {
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  min-width: 100%;
  margin: 0;
  font-size: 16px;
  background-color: #FFF;
}

header {
  color: #000;
}

.container {
  display: fLex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
}

.hero h1 {
  font-weight: 900;
  font-size: 100px;
  margin-right: auto;
  margin-left: 20%;
}

.flex-center {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.content {
  text-align: left;
  margin-bottom: 20px;
}

.content h2 {
  font-weight: 900;
  font-size: 64px;
  width: 100%;
  margin-left: 20%;
}

.content p {
  font-weight: 400;
  font-size: 20px;
  margin-left: 20%;
  margin-right: 20%;
  line-height: 1.5;
  white-space: pre-wrap
}

.divider {
  width: 100%;
  position: relative;
}

footer {
  width: 100%;
}

footer .footer-container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 1080px;
}

.form-control input {
  display: block;
}

.footer-container-list {
  width: 25%;
}

.title-divider {
  font-weight: 600;
  margin: 15px auto 15px auto;
  text-align: center;
  color: #969696;
}

.title-divider:after,
.title-divider:before {
  position: absolute;
  width: 35%;
  content: ' ';
  background-color: #969696;
  height: 2px;
  top: 10px;
  bottom: 0;
}

.title-divider:before {
  left: 0;
  margin-right: 10px;
}

.title-divider:after {
  right: 0;
  margin-left: 10px;
}

.collection-banner-container,
.catalog-container {
  display: flex;
  margin: 10px auto;
}

.collection-banner {
  text-align: center;
  margin-right: 20px;
  border-bottom: 1px solid #F68F30;
}

.collection-banner img {
  width: 260px;
  height: 200px;
  object-fit: fill;
}

.collection-banner .collection-banner-title {
  margin-top: 0;
  margin-bottom: 5px;
  font-weight: 400;
  font-size: 16px;
  color: #F68F30;
}

.collection-banner:last-child {
.catalog-product:last-child {
  margin-right: 0;
}

.catalog-product {
  text-align: center;
  margin-right: 20px;
}

.catalog-product img {
  width: 220px;
  height: 180px;
  object-fit: contain;
}

.catalog-product .catalog-product-title {
  text-align: center;
  margin-top: 0;
  margin-bottom: 5px;
  font-weight: 400;
  font-size: 14px;
  color: #969696;
}

.catalog-product .catalog-product-buy-info {
  padding: 0;
  margin: 0;
  text-align: center
}

.catalog-product-buy-info .catalog-product-price {
  color: #F68F30;
  margin: 0;
}

.catalog-product-buy-btn {
  font-family: 'Englebert', sans-serif;
  margin-top: 5px;
  background-color: #FFF;
  border: 2px solid #000;
  border-radius: 3px;
  padding: 10px 10px 5px 10px;
  font-size: 1.1em;
}

@media screen and (max-width: 700px) {
  .collection-banner-container {
    flex-flow: column wrap;
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count:2;
    -moz-column-gap: 1em;
    -webkit-column-gap: 1em;
    column-gap: 1em;
  }
}

// Navbar

header nav {
  height: 100%;
}

.navbar ul {
  padding: 0;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
}
.navbar li {
  font-size: 1em;
  list-style: none;
  min-width: 80px;
  position: relative;
  text-transform: uppercase;
}
.navbar li a {
  cursor: pointer;
  color: #4E4E4E;
  display: block;
  padding: 5px 10px;
  text-decoration: none;
  transition: 0.5s;
}
.navbar li .dropdown {
  border-top: 3px solid orange;
  background: #F5F5F5;
  position: absolute;
  display: none;
  margin: 0;
  left: -55%;
  padding: 0px;
  text-align: center;
  width: 150px;
}

.navbar li:hover > a{
  color: orange;
}
.navbar li:hover .dropdown{
  display: block;
}
.navbar li .dropdown li:hover{
  background: orange;
}
.navbar li .dropdown li:hover a{
  color: white;
}
.navbar label {
  display: none;
}
#menu-toggle {
  display: none;
}

@media all and (max-width: 767px) {
  .navbar label {
    color: #333;
    cursor: pointer;
    display: block;
    font-size: 2em;
    height: 50px;
    line-height: 50px;
    margin: 0 0 0 auto;
    text-align: center;
    width: 50px;
  }
  .navbar .nav {
    display: none;
  }
  .navbar li {
    width: 100%;
  }
  .navbar li:hover .dropdown{
    display: block;
    position: initial;
    width: 100%;
  }
  #menu-toggle:checked + .nav {
    display: block;
  }
  .navbar label:active .nav {
    display: none;
  }
}