@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body,
html {
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  min-width: 100%;
  margin: 0;
  font-size: 16px;
  background-color: #FFF;
}

header {
  color: #000;
  height: 43px;
}

header nav {
  margin-left: 20%;
  display: flex;
  height: 100%;
  align-items: center;
  align-content: center;
}

.container {
  display: fLex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
}

.hero h1 {
  font-weight: 900;
  font-size: 100px;
  margin-right: auto;
  margin-left: 20%;
}

.flex-center {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.content {
  text-align: left;
  margin-bottom: 20px;
}

.content h2 {
  font-weight: 900;
  font-size: 64px;
  width: 100%;
  margin-left: 20%;
}

.content p {
  font-weight: 400;
  font-size: 20px;
  margin-left: 20%;
  margin-right: 20%;
  line-height: 1.5;
  white-space: pre-wrap
}

.divider {
  width: 100%;
  position: relative;
}

footer {
  width: 100%;
}

footer .footer-container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 1080px;
}

.form-control input {
  display: block;
}

.footer-container-list {
  width: 25%;
}

.title-divider {
  font-weight: 600;
  margin: 15px auto 15px auto;
  text-align: center;
  color: #969696;
}

.title-divider:after,
.title-divider:before {
  position: absolute;
  width: 35%;
  content: ' ';
  background-color: #969696;
  height: 2px;
  top: 10px;
  bottom: 0;
}

.title-divider:before {
  left: 0;
  margin-right: 10px;
}

.title-divider:after {
  right: 0;
  margin-left: 10px;
}

.collection-banner-container {
  display: flex;
  margin: 10px auto;
}

.collection-banner {
  text-align: center;
  margin-right: 20px;
  border-bottom: 1px solid #F68F30;
}

.collection-banner img {
  width: 260px;
  height: 200px;
}

.collection-banner .collection-banner-title {
  margin-top: 0;
  margin-bottom: 5px;
  font-weight: 400;
  font-size: 16px;
  color: #F68F30;
}

.collection-banner:last-child {
  margin-right: 0;
}

@media screen and (max-width: 700px) {
  .collection-banner-container {
    flex-flow: column wrap;
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count:2;
    -moz-column-gap: 1em;
    -webkit-column-gap: 1em;
    column-gap: 1em;
  }
}
